
a{
    font-size: 66px;
     color:red;
}

a:link{text-decoration: none;
}
}
a:visited{text-decoration: none;
}
}
a:active{text-decoration: none;

}






.menu {
   width: 100px；
    heigh:66px；
    background:#1c2be0;
    text-align:center;
    line-height: 99px
        color:#444;
    overflow: hidden;
}
.menu:hover{
    background: #a00;
    color: #FFF;
}
.menu:active {
    background: #5c0000;
    color: #ffe34b;
}




.menutext {
    position: relative;
    top: 100px;
    text-decoration:
        color:inherit;
}

.menuText:hover{
    animation: moveUp100 1s 1;
}
@keyframes moveUp{
    from{
        top: 0;
    }
    to{
        top: -100px;
    }
}
