.sunzi {
    background: #ffff00;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block
}

#baba {
    background: #a9ff07;
    width: 400px;
    height: 400px;
    text-align: center;
    display: inline-block
}

.yeye {
    text-align: center;
    background: #eaeaea;
    margin: 0；
}

body {
    margin: 0;
    padding: 0;
}

div {
    border: 4px solid #146ce3;
}
e
